.contact_title {
  text-align: center;
  font-size: 2em;
  margin-top: 30px;
}

.form_contact {
  background-color: #F8F4EF;
  margin-top: 30px;
  padding-top: 20px;
  text-align: center;
  .form_container {

    label {
      font-size: 1.1em;
      color: #EE8F4F;
      display: block;
      margin-bottom: 10px;
    }
    input {
      width: 20%;
      height: 10%;
      margin-bottom: 20px;
    }
    textarea {
      display: block;
      margin: 0 auto 20px;
      width: 20%;
      height: 40%;
    }
    .contact_button {
      width: 200px;
      height: 30px;
      background-color: #EE8F4F;
      color: white;
      font-weight: bold;
      border: #EE8F4F;
    }
  }
}