.product_sections {
  max-width: 1080px;
  width: 100%;
  margin: 5% auto 5%;
  padding: 2% 0;
  display: flex;
  background-color:#F8F4EF;
  .product_left_section {
    width: 50%;
    img {
      width: 100%;
    }
    .product_description{
      margin-top: 30px;
    }
  }

  .product_right_section {
    width: 50%;
    margin: 0 5%;
    .product_title {
      font-size: 1.5em;
      margin-bottom: 30px;
    }
    form {
      select {

      }
      .product_price {
        font-size: 1.3em;
        margin: 10px 0;
      }
      label {
        font-size: 1.3em;
        margin: 10px 0;
      }
      input {
        display: block;
        margin: 5px 0;
      }
      .send_form {
        margin-top: 40px;
        display: block;
        position : relative;
        width : 240px;
        height : 60px;
        border-radius: 5%;
        box-shadow : 0 0 24px rgba(116,132,145,1);
        transition : all .7s ease;
        border: 1px solid #EE8F4F;
        &:hover{
          box-shadow : 0 0 24px rgba(116,132,145,0);
          cursor: pointer;
          .button_box {
            letter-spacing : 8px;
            color : rgba(255,255,255,1);
          }
        }
        .button_wrapper {
          width : 100%;
          height :100%;
        }
        .button__box{
          display : flex;
          justify-content: center;
          align-items : center;
          position : absolute;
          z-index : 1;
          top : 0%;
          left : 0%;
          width : 100%;
          height : 100%;
          background-color: #EE8F4F;
          color: white;
          font-weight: bold;
          border: 1px solid #EE8F4F;
          border-radius: 5%;
        }
      }
    }
  }
}
