.register_title {
  text-align: center;
  font-size: 2em;
  margin-top: 30px;
}

.register_content {
  background-color: #F8F4EF;
  margin-top: 30px;
  padding: 20px 0;
  text-align: center;
  label {
    font-size: 1.1em;
    color: #EE8F4F;
    display: block;
    margin-bottom: 10px;
  }
  input {
    width: 200px;
    height: 30px;
    margin-bottom: 20px;
  }
  .register_button {
    width: 200px;
    height: 30px;
    background-color: #EE8F4F;
    color: white;
    font-weight: bold;
    border: #EE8F4F;
    display: block;
    margin: 0 auto;
  }
}