<!-- /templates/customers/login.liquid -->

<h2 class="login_title">ログイン</h2>
<div class="login_content">
  {% form 'customer_login' %}

  {{ form.errors | default_errors }}

  <label for="customer_email">メールアドレス</label>
  <input type="email" name="customer[email]" />

  <label for="customer_password">パスワード</label>
  <input type="password" name="customer[password]" />

  <input class="sign_in" type="submit" value="ログイン" />

  {% endform %}

  <div class="forget_pw">
    <h2>パスワードを忘れた方</h2>
    {% form 'recover_customer_password' %}

    {{ form.errors | default_errors }}

    <label for="customer_email">メールアドレス</label>
    <input type="email" name="email" />

    <input class="submit_button" type="submit" value="送信" />

    {% endform %}
  </div>

</div>
